.alignC {
  text-align: center !important;
}

.alignR {
  text-align: right !important;
}

.alignL {
  text-align: left !important;
}

.bold {
  font-weight: bold !important;
}

/*==================================================================================================

==================================================================================================*/